
/*
font-family: 'Montserrat', sans-serif;
font-family: 'Raleway', sans-serif;

*/

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root {
    --heading:'Montserrat', 'sans-serif';
}

body {
    font-family: 'Raleway', 'sans-serif';
    background: #fff;
}


/* estilos globales */

img{
    width: 100%;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
    color: #000;
}

hr {
    width: 95vh;
    margin: 0 auto;
}

/* Estilos al header  */

.navegacion__header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    background: #3b83bd;
    color: #fff;
    padding: 20px 30px;
}

.navegacion__header .fas {
    font-size: 2rem;
    cursor: pointer;
}


/* interaccion con JavaScript */

.navegacion__times-btn {
    display: none;
}

.navegacion__barra{
    background: #333;
    height: 0;
    overflow: hidden; 
}

.navegacion__barra-mostrar {
    height: auto;
}

/* Fin de interaccion con JavaScript */


.navegacion__barra ul li {
    text-align: center;
    display: block;
    padding: 15px 0;
    transition-property: background  ease-in-out;
    transition-duration: 300ms;

}

.navegacion__barra ul li:hover {
    background: #0e0e0e;
}

.navegacion__barra ul li a {
    color: #FFF;
    text-transform: uppercase;
}

.navegacion__barra ul li a:hover {
    color: #FFF;
    text-decoration: underline;
}

/* iconos de social media  */

.navegacion__social-icons {
    display: none;
}

@media (min-width: 800px) {
    .navegacion__ham-btn,.navegacion__times-btn{
        display: none !important;
    }

    .navegacion__contenedor{
        display: flex;
        background: #3b83bd;
        align-items: center;
        flex-wrap: wrap;
    }

    .navegacion__header{
        flex: 0 0 15%;
    }

    .navegacion__barra{
        flex: 1 0 auto;
        height: 100%;
        background: transparent;
    }


    .navegacion__barra nav ul {
        display: flex;
        justify-content: center;
        
    }

    .navegacion__barra nav ul li {
        padding-right: 30px;
    }

    .navegacion__barra nav ul li:hover {
        background: none;
    }

    /* iconos de Social media  */
    .navegacion__social-icons{
        flex: 0 1 30%;
        display: block;
        margin: 0 auto;
    }

    .navegacion__social-icons .fab {
        color: #fff;
        font-size: 2rem;
    }

    .navegacion__social-icons ul {
        display: flex;
        justify-content: space-evenly;
        padding: 0 20px;
    }

    .social-icons ul li {
        padding: 20px;
    }

       
}